[client]
default-character-set = utf8mb4

[mysql]
no-auto-rehash
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci
skip-character-set-client-handshake

# 테이블명 대소문자 구분없이 소문자로 생성
lower_case_table_names = 1

# SHA256 플러그인으로 password()함수에 적용하여 계정의 암호를 생성하도록 지정
default_authentication_plugin = mysql_native_password
